.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
contrib/
depcomp
install-sh
libhdclient.la
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.dirstamp
src/.libs/
stamp-h1
build
config.h.in~
tmp
*.lo
